body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}
header {
    text-align: center;
}
form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#rowOne, #top, #rowTwo, #imgMeme, #rowThree, #bottom {
    margin: 5px;
}
#submit {
    background-color: gainsboro;
    font-size: large;
    color: black;
    margin: 5px;
    border-radius: 3px;
}
.container {
    display: inline-flex;
    position: relative;
    justify-content: center;
    margin: 5px;
}
.picture {
    position: relative;
    align-content: center;
    z-index: 0;
}
.topLine, .bottomLine {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    z-index: 1;
}
.topLine {
    top: 0;
}
.bottomLine {
    bottom: 0;
}
.button {
    position: absolute; 
    background-color: transparent;
    color: black;
    border: 0;
    top: 0;
    right: 0;
}